<table border="1">
  <thead>
    <tr>
      <th>Nombre del Equipo</th>
      <th>Partidos Jugados</th>
      <th>Ganados</th>
      <th>Empatados</th>
      <th>Goles a Favor</th>
      <th>Goles en Contra</th>
      <th>Posición</th>
    </tr>
  </thead>
  <tbody>
    {{#each equipos}}
      <tr>
        <td>{{NOMBRE}}</td>
        <td>{{PJ}}</td>
        <td>{{PG}}</td>
        <td>{{PE}}</td>
        <td>{{GF}}</td>
        <td>{{GC}}</td>
        <td>{{POSICION}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
